.body {
  font-family: Roboto, sans-serif;
  padding: 0 90px;
}

.header {
  padding: 40px 0 20px 0;

  h1 {
    font-size: 4rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
  }

  h2 {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
  }
  .email-container {
    display: flex;

    a {
      text-decoration: none;
      color: black;
    }

    .email {
      font-weight: 300;
      margin-right: 20px;
      margin-bottom: 0;
    }

    .email-address {
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .github-container {
    display: flex;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: black;
    }

    .github {
      font-weight: 300;
      margin-right: 20px;
      margin-top: 0;
    }

    .github-address {
      font-weight: 300;
      margin-top: 0;
    }
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  .introduce-container {
    p {
      color: black;
      font-size: 1.2rem;
      text-align: justify;
      line-height: 1.5;
      font-weight: 400;
    }
    margin-bottom: 0px;
  }
  h2 {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;

    .divider {
      border: 0;
      border-top: 1px solid #ddd;
      margin: 24px 0;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    .card {
      display: flex;
      p {
        margin: 10px 0;
      }
      .left {
        width: 20%;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: 300;
      }

      code {
        border-radius: 0.375rem;
        --tw-bg-opacity: 1;
        background-color: rgb(241 243 245 / var(--tw-bg-opacity, 1));
        padding: 2px 0.375rem;
        font-size: 0.82rem;
        font-weight: 500;
        line-height: 0.8rem;
        --tw-text-opacity: 1;
      }
      ul {
        li {
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}
