@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0;
  }

  p {
    @apply m-0;
  }
}
